/node_modules
/public/hot
/public/storage
/public/vendor
/face-recognition/faces/known/*.jpg
/face-recognition/faces/*.jpg
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
