# v2 syntax
version: '2'

# Named volumes
volumes:
  # MySQL Data
  portinari-mysql-data:
    driver: local

services:
  # MySQL (5.7)
  mysql:
    image: ambientum/mysql:5.7
    container_name: portinari-mysql
    volumes:
      - portinari-mysql-data:/var/lib/mysql
    ports:
      - "3306:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=portinari
      - MYSQL_DATABASE=portinari
      - MYSQL_USER=portinari
      - MYSQL_PASSWORD=portinari

  # PHP (with Caddy)
  app:
    image: ambientum/php:7.1-caddy
    container_name: portinari-app
    volumes:
      - .:/var/www/app
    ports:
      - "80:8080"
    links:
      - mysql